@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Предмет</th>
            <th>Кабинет</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody>
        <td align="center">Понедельник</td>
        <tr>
            <th scope="row">1</th>
            <td>Математика</td>
            <td>12</td>
            <td>8:30</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Чтение</td>
            <td>20</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Физика</td>
            <td>23</td>
            <td>11:30</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Русский</td>
            <td>15</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Английский</td>
            <td>19</td>
            <td>14:30</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>28</td>
            <td>16:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>31</td>
            <td>17:30</td>
        </tr>

                <td align="center">Вторник</td>
        <tr>
            <th scope="row">1</th>
            <td>Математика</td>
            <td>12</td>
            <td>8:30</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Чтение</td>
            <td>20</td>
            <td>10:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Физика</td>
            <td>23</td>
            <td>11:30</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Русский</td>
            <td>15</td>
            <td>13:00</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Английский</td>
            <td>19</td>
            <td>14:30</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Биология</td>
            <td>28</td>
            <td>16:00</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Химия</td>
            <td>31</td>
            <td>17:30</td>
        </tr>
    </tbody>
</table>